@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* 流动渐变动画（超好用） */
  --animate-gradient: gradient 12s ease infinite;
  --animate-gradient-fast: gradient 6s ease infinite;
  --animate-gradient-slow: gradient 20s ease infinite;

  /* 背景流动专用大小 */
  --background-size-200: 200% 200%;
  --background-size-300: 300% 300%;

  /* 关键帧 */
  @keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50%       { background-position: 100% 50%; }
  }
}

@utility btn-gradient {
  @apply relative overflow-hidden rounded-full px-2.5 py-1 text-[12px] font-medium text-white transition-all ease-in duration-300 before:-z-1 before:transition-all before:ease-in before:duration-300 before:absolute before:inset-0 before:bg-linear-to-br before:from-[#7a87a2] before:to-[#281969] before:bg-size-[150%_150%] before:animate-gradient-slow before:opacity-0 hover:before:opacity-100 hover:before:animate-gradient-fast;
}

@layer theme {
    :root,
    .dark {
        --tw-font-sans: var(--font-noto-sans-sc);
        --tw-font-mono: var(--font-space-mono);
    }
}

@layer base {
    *,
    *::before,
    *::after {
        border-color: oklch(var(--border));
        outline-color: oklch(var(--ring) / 0.5);
    }

    body {
        @apply antialiased;
        background-color: oklch(var(--background));
        color: oklch(var(--foreground));
        font-family: var(--font-space-mono), var(--font-noto-sans-sc),
            ui-monospace, sans-serif;
    }
}

:root {
    --radius: 0.625rem;

    /* 主背景文字 */
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    /* 卡片、弹窗 */
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    /* 交互色 */
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);

    /* 辅助色 */
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);

    /* 边框输入焦点 */
    --border: oklch(0.922 0 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);

    /* 危险色 */
    --destructive: oklch(0.577 0.245 27.325);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);

    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);

    --destructive: oklch(0.704 0.191 22.216);
}
